.prompt {
  padding: 4px 10px;
  line-height: 1.8;
  word-break: break-all;
}

.messages-inner {
  margin: 0 auto;
  padding-bottom: 200px;
}

.prompt-user p {
  margin: 0;
}

.prompt-user-bubble {
  justify-self: right;
  background-color: #efefef;
  width: auto;
  max-width: 500px;
  border-radius: 20px;
  padding: 6px 16px;
}

main {
  padding-bottom: 100px;
}

.prompt ul,
.prompt ol {
  padding-inline-start: 20px;
}

.prompt blockquote {
  border-left: 4px solid #eee;
  margin-left: 0;
  padding-left: 16px;
}

.prompt code {
  font-family: monospace !important;
  background-color: #eee;
  font-size: 12px;
  padding: 3px;
  border-radius: 4px;
  width: 100%;
}

.prompt pre {
  margin: 0;
}

.prompt-user-bubble pre code {
  min-width: 200px;
  border-radius: 10px;
  padding: 20px;
  color: whitesmoke;
  font-family: monospace;
  display: block;
  background-color: #0a1031;
  overflow-x: scroll;
  width: 100%;
  max-width: 100%;
}

.language-mermaid {
  background-color: white !important;
  border: 1px solid #ddd;
}

.prompt-assistant pre code {
  min-width: 200px;
  background-color: #0a1031;
  border-radius: 10px;
  padding: 20px;
  color: whitesmoke;
  font-family: monospace;
  display: block;
  overflow-x: scroll;
  width: 100%;
  max-width: 100%;
}

.user-container-with-sidebar {
  width: calc(100vw - 300px);
}

.user {
  border-radius: 20px;
  background: rgba(230, 230, 230, 0.45);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  padding: 4px 10px;
  width: 100%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  max-width: 800px;
  justify-self: center;
  display: flex;
  align-items: end;
}

.user-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.send {
  background-color: #333;
  border: none;
  padding: 8px;
  border-radius: 20px;
  display: flex;
  justify-self: right;
  transition: all;
}

.send:hover {
  background-color: #444;
}

.send:disabled {
  background-color: #ccc;
}

.arrow {
  justify-self: center;
  align-self: center;
}

.tool-confirmation {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  backdrop-filter: blur(8px);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  min-width: 200px;
  max-width: 400px;
  animation: slideUp 0.2s ease-out;
  text-align: center;
  background: rgba(256, 256, 256, 0.65);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.07);
}

.tool-confirmation-text {
  font-size: 14px;
  line-height: 1.4;
}

.tool-confirmation-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.tool-confirmation-buttons button {
  padding: 2px 10px;
  min-width: 80px;
  border-radius: 6px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.2s ease;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}

.tool-confirmation-buttons button:last-child {
  background: rgb(16, 127, 239);
  color: white;
}

.tool-confirmation-buttons button:first-child {
  background: white;
  border: 1px solid #ddd;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.feature-toggle {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.web-search-control {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  width: 80px;
  height: 28px;
  gap: 4px;
  cursor: default;
  font-size: 12px;
  color: #aaa;
}

.web-search-control svg {
  display: block;
  margin: 0;
}

.web-search-control-on {
  background-color: rgba(10, 137, 255, 0.1);
  color: #358cf6;
}

.interrupt {
  padding: 5px;
  /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.knowledge {
  border: 1px solid #ddd;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #555;
  max-width: 100%;
  animation: fadeIn 0.2s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.searching-animation {
  animation: pulse 1.5s infinite;
}

.knowledge-main {
  text-wrap: nowrap;
}

.knowledge-sub {
  text-overflow: ellipsis;
  overflow-x: hidden;
  max-width: 600px;
  text-wrap: nowrap;
}

.query-optimization {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.original-query,
.optimized-query {
  font-family: monospace;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  word-break: break-all;
}

.query-label {
  font-weight: bold;
  color: #555;
}

.knowledge-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.knowledge-query {
  font-size: 12px;
}

code.language-reasoning {
  display: none !important;
}
